
<!-- Include HTMX from a CDN -->
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/htmx.min.js"></script>
    <script type="importmap">
        {
          "imports": {
            "three": "/static/three.js",
            "three/stlloader": "/static/stlloader.js",
            "three/orbitcontrols": "/static/orbitcontrols.js",
            "three/stlexporter": "/static/stlexporter.js"
          }
        }
    </script>
    
    <title>Project Radian</title>
</head>
<body>
    <style hx-get="/static/style.css" hx-swap="innerHTML" hx-trigger="load"></style>
    <div class="titlebar">
        <h1 class="titlebar">Project Radian</h1>
    </div>

        
    <div class="container">
        <form id='form' hx-encoding='multipart/form-data' hx-post='/api/builder/makesolid' hx-swap="outerHTML" hx-sync="closest form:abort">
            <label for="num_samples">Number of Samples (Between 10 and 16000)</label><br>
            <input type="text" id="num_samples" name="num_samples"><br>

            <label for="sample_rate">Sample Rate (Between 200 and 16000)</label><br>
            <input type="text" id="sample_rate" name="sample_rate"><br>

            <label for="sides">Sides (Between 3 and 500)</label><br>
            <input type="text" id="sides" name="sides"><br>

            <label for="r_scale">Radial Scale (Between 0.5 and 20)</label><br>
            <input type="text" id="r_scale" name="r_scale"><br>

            <label for="core">Core Diameter (Between 0.5 and 20)</label><br>
            <input type="text" id="core" name="core"><br>

            <label for="z_scale">Height Scale (Between 0.05 and 5)</label><br>
            <input type="text" id="z_scale" name="z_scale"><br>

            <P>Build Shape</P>
            <input type="radio" id="cylinder" name="build_mode" value="Cylinder">
            <label for="cylinder">Cylinder</label><br>
            <input type="radio" id="spiral" name="build_mode" value="Spiral">
            <label for="spiral">Spiral</label><br>
            <P>Note: A larger number of samples increases build time</P>
            <P>Loading Bar Coming Soon</P>
            <input type='file' name='file' accept=".wav">
            <button>
                Submit
            </button>
        </form>
    </div>
    
    
    
</body>
</html>
